<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Home Page</title>
</head>
<body>
    <%- include('header.ejs') %>
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Due Date</th>
            <th>Completed</th>
        </tr>
        <% for(var i = 0; i < allTodos.length; i++) { %>
            <tr>
                <td>
                    <%= allTodos[i].id %>
                </td>
                <td>
                    <%= allTodos[i].title %>
                </td>
                <td>
                    <%= allTodos[i].dueDate %>
                </td>
                <td>
                    <%= allTodos[i].completed %>
                </td>
            </tr>
        <% } %>
    </table>
    <%- include('footer.ejs') %>
</body>
</html>