<h5 class="font-semibold"><%= title %></h5>
    <ul class="list-none">
  <% for(var i = 0; i < data.length; i++) { %>
    <li class="todo-item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:shadow-md hover:bg-slate-700"
      >
        <input
          id="todo-checkbox-<%= data[i].id %>"
          type="checkbox"
          class="w-4 h-4 text-blue-600 rounded"
          <%=data[i].completed ? "checked" : "" %>
          onclick="updateTodo(<%= data[i].id %>)"
        />
        <label class="text-gray-300 cursor-pointer ml-2" for="todo-checkbox-<%= data[i].id %>">
          <%- data[i].title %>
        </label>
        <%- include('deleteIcon.ejs') %>
      </div>
    </li>
    <% } %>
    </ul>