<div>
  <h5 class="font-semibold">Overdue</h5>
  <ul class="list-none">
    <li class="todo-item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:shadow-md hover:bg-slate-700"
      >
        <input
          id="todo-checkbox-1"
          type="checkbox"
          class="w-4 h-4 text-blue-600 rounded"
        />
        <label class="text-gray-300 cursor-pointer ml-2" for="todo-checkbox-1">
          Complete Project
        </label>
        <%- include('deleteIcon.ejs') %>
      </div>
    </li>
    <li class="todo-item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:shadow-md hover:bg-slate-700"
      >
        <input
          id="todo-checkbox-2"
          type="checkbox"
          class="w-4 h-4 text-blue-600 rounded"
        />
        <label class="text-gray-300 cursor-pointer ml-2" for="todo-checkbox-2">
          Prepare for the exam
        </label>
        <%- include('deleteIcon.ejs') %>
      </div>
    </li>
    <li class="todo-item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:shadow-md hover:bg-slate-700"
      >
        <input
          id="todo-checkbox-3"
          type="checkbox"
          class="w-4 h-4 text-blue-600 rounded"
        />
        <label class="text-gray-300 cursor-pointer ml-2" for="todo-checkbox-3">
          Throw out the trash
        </label>
        <%- include('deleteIcon.ejs') %>
      </div>
    </li>
  </ul>
  <h5 class="font-semibold">Due Today</h5>
  <ul>
    <li class="todo-item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:shadow-md hover:bg-slate-700"
      >
        <input
          id="todo-checkbox-4"
          type="checkbox"
          class="w-4 h-4 text-blue-600 rounded"
        />
        <label class="text-gray-300 cursor-pointer ml-2" for="todo-checkbox-4">
          Fill the exam form
        </label>
        <%- include('deleteIcon.ejs') %>
      </div>
    </li>
    <li class="todo-item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:shadow-md hover:bg-slate-700"
      >
        <input
          id="todo-checkbox-5"
          type="checkbox"
          class="w-4 h-4 text-blue-600 rounded"
        />
        <label class="text-gray-300 cursor-pointer ml-2" for="todo-checkbox-5">
          Meet with the professor
        </label>
        <%- include('deleteIcon.ejs') %>
      </div>
    </li>
  </ul>
  <h5 class="font-semibold">Due Later</h5>
  <ul>
    <li class="todo-item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:shadow-md hover:bg-slate-700"
      >
        <input
          id="todo-checkbox-6"
          type="checkbox"
          class="w-4 h-4 text-blue-600 rounded"
        />
        <label class="text-gray-300 cursor-pointer ml-2" for="todo-checkbox-6">
          Complete assignments
        </label>
        <%- include('deleteIcon.ejs') %>
      </div>
    </li>
    <li class="todo-item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:shadow-md hover:bg-slate-700"
      >
        <input
          id="todo-checkbox-7"
          type="checkbox"
          class="w-4 h-4 text-blue-600 rounded"
        />
        <label class="text-gray-300 cursor-pointer ml-2" for="todo-checkbox-7">
          Recharge the phone
        </label>
        <%- include('deleteIcon.ejs') %>
      </div>
    </li>
  </ul>
</div>
